body {
    font-family: Arial, sans-serif;
    background-color: #f5ad41;
    padding: 50px;
}

h1 {
    text-align: center;
    color: firebrick;
    margin-bottom: 50px;
}

h3 {
    font-size: xx-large;
    color: firebrick;
    margin-bottom: 20px;
}

#logo-name {
    position: relative;
    color: white;
    margin: 100px auto;
    /* z-index: 2; */
}

.card {
    border: none;
    border-radius: 20px;
    padding: 40px 60px;
    background-color: #ffe19a;
}

.column-container {
    padding: 10px;
    /* padding-left: 90px; */
    width: auto;
}

.btn-details {
    margin: 10px;
    border: none;
    margin-left: 10px;
    background-color: firebrick;
}

.form {
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}

.add {
    color: darkgreen;
}

.btn-order {
    width: 200px;
    background-color: darkgreen;
    border: none;
}

.input-group-field {
    margin: 15px;
    width: 200px;
    height: 50px;
    border: none;
    text-align: center;
    border-radius: 5px;
}
