*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #bd5e23;
    padding: 50px;
}

#logo {
    position: relative;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    color: white;
    margin: 100px auto -190px auto;
}

.burger-image {
    position: relative;
    text-align: center;
    z-index: -1;
    animation-name: logo;
    animation-duration: 3s;
}

h3 {
    font-size: xx-large;
    color: firebrick;
    margin-bottom: 20px;
}

.card {
    border: none;
    border-radius: 60px;
    padding: 40px 60px;
    background-color: #f9e0a7;
}

.column-container {
    padding: 10px;
    width: auto;
}

.btn-devour {
    margin: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    background-color: firebrick;
}

.btn-remove {
    margin: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    background-color: firebrick;
}

.form {
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}

.add {
    color: #f9e0a7;
}

.btn-order {
    width: 200px;
    border: none;
    border-radius: 15px;
    background-color: darkgreen;
}

.input-group-field {
    margin: 15px;
    width: 200px;
    height: 50px;
    border: none;
    text-align: center;
    border-radius: 15px;
}

@keyframes logo {
    0%   {top:-300px;}
    100% {top:0px;}
}